{% extends "base.html" %}
{% load static %}

{% block screen_name %}home{% endblock %}

{% block content %}

    <!-- For Business Section -->
    <div class="w-100 h-100" screen="home">
        <img class="h-100 w-100 bg-image" src="{% static "media/home_page/background.jpg" %}"/>
        <div class="container-fluid h-100 overlay">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="title-thin">We deliver your hygiene products to your door</h2>
                    <h6 class="text-center mb-30">
                        Be the first to hear about our first delivery!
                    </h6>
                    <div class="container-fluid">
                        <form action="" method="post" class="row">
                            {% csrf_token %}
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <div class="container-fluid">
                                    <div class="form-group mb-2 mr-2">
                                        <label class="mr-2">Email</label>
                                        {% if email_error %}
                                            <div class="invalid-feedback d-block font-weight-bold">
                                                {{ email_error }}
                                            </div>
                                        {% endif %}
                                        <input type="email" class="form-control" name="email"
                                               placeholder="Email address"
                                               value="{{ email|default:"" }}">
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="form-group mb-2">
                                        <label class="mr-2">Postal code</label>
                                        {% if postal_code_error %}
                                            <div class="invalid-feedback d-block font-weight-bold">
                                                {{ postal_code_error }}
                                            </div>
                                        {% endif %}
                                        <input type="text" maxlength="7" class="form-control" name="postal_code"
                                               placeholder="Postal code" value="{{ postal_code|default:"" }}">
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="form-group mb-2">
                                        <br>
                                        <button type="submit" class="btn btn-primary btn-block mt-2">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}