{% extends "base.html" %}
{% load static %}

{% block screen_name %}home{% endblock %}

{% block content %}

    <!-- For Business Section -->
    <div class="w-100 h-100" screen="home">
        <div class="container-fluid h-100 overlay">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-8 text-center">
                    <h1 class="title-thin">Thank you!</h1>
                    <h6 class="text-center mb-30">
                        Please share this with your friends, so they can also take advantage.
                    </h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}